<h1>Cocktail Recipe</h1>
<h2><%= @cocktail.name %></h2>
<h3>==recipe==</h3>
<ol>
  <% @doses.each do |dose| %>
    <li>Add <%= dose.description %> <%= dose.ingredient.name %>
      <%= link_to "delete", dose_path(dose), method: :delete %><i class="far fa-trash-alt"></i>
    </li>
  <% end %>
</ol>

<h6><%= link_to "Add recipe", new_cocktail_dose_path(@cocktail) %></h6>

<h3>=============</h3>
<h4><%= link_to "Back to Home", cocktails_path %></h4>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
