<!DOCTYPE html>
<html>
  <head>
    <title>RailsMasterCocktail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1440,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1517521303/180131-wondrich-bad-cocktail-tease_wghhv8');">
      <div class="banner-content">
        <h1>Cocktail</h1>
        <p>share your cocktail</p>
        <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
        <p><%= link_to "Create new cocktail", new_cocktail_path %></p>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
